[submodule "plugins/BlanderBlog"]
	path = plugins/BlanderBlog
	url = git://github.com/hgtonight/Plugin-BlanderBlog.git
[submodule "plugins/BulkEdit"]
	path = plugins/BulkEdit
	url = git://github.com/hgtonight/Plugin-BulkEdit.git
[submodule "plugins/BulkInvite"]
	path = plugins/BulkInvite
	url = git://github.com/hgtonight/Plugin-BulkInvite.git
[submodule "plugins/CategoryImages"]
	path = plugins/CategoryImages
	url = git://github.com/hgtonight/Plugin-CategoryImages.git
[submodule "plugins/CategoryNavigation"]
	path = plugins/CategoryNavigation
	url = git://github.com/hgtonight/Plugin-CategoryNavigation.git
[submodule "plugins/ExpandableCategories"]
	path = plugins/ExpandableCategories
	url = git://github.com/hgtonight/Plugin-ExpandableCategories.git
[submodule "plugins/FeatureGuide"]
	path = plugins/FeatureGuide
	url = git://github.com/hgtonight/Plugin-FeatureGuide.git
[submodule "plugins/InviteRoles"]
	path = plugins/InviteRoles
	url = git://github.com/hgtonight/Plugin-InviteRoles.git
[submodule "plugins/JumpToTop"]
	path = plugins/JumpToTop
	url = git://github.com/hgtonight/Plugin-JumpToTop.git
[submodule "plugins/LatestPostList"]
	path = plugins/LatestPostList
	url = git://github.com/hgtonight/Plugin-LatestPostList.git
[submodule "plugins/PanelBoxToggles"]
	path = plugins/PanelBoxToggles
	url = git://github.com/hgtonight/Plugin-PanelBoxToggles.git
[submodule "plugins/RandomImages"]
	path = plugins/RandomImages
	url = git://github.com/hgtonight/Plugin-RandomImages.git
[submodule "plugins/ResizedImageLightBox"]
	path = plugins/ResizedImageLightBox
	url = git://github.com/hgtonight/Plugin-ResizedImageLightBox.git
[submodule "plugins/StatsBox"]
	path = plugins/StatsBox
	url = git://github.com/hgtonight/Plugin-StatsBox.git
[submodule "plugins/SteamSignIn"]
	path = plugins/SteamSignIn
	url = git://github.com/hgtonight/Plugin-SteamSignIn.git
[submodule "plugins/TestingGround"]
	path = plugins/TestingGround
	url = git://github.com/hgtonight/Plugin-TestingGround.git
[submodule "plugins/TranslateThis"]
	path = plugins/TranslateThis
	url = git://github.com/hgtonight/Plugin-TranslateThis.git
[submodule "plugins/VerifyMCUser"]
	path = plugins/VerifyMCUser
	url = git://github.com/hgtonight/Plugin-VerifyMCUser.git
[submodule "applications/yaga"]
	path = applications/yaga
	url = git://github.com/hgtonight/Application-Yaga.git
[submodule "plugins/DiscussionPolls"]
	path = plugins/DiscussionPolls
	url = https://github.com/hgtonight/Plugin-DiscussionPolls.git
[submodule "plugins/RefreshCounts"]
	path = plugins/RefreshCounts
	url = https://github.com/hgtonight/Plugin-RefreshCounts.git
[submodule "plugins/RoleProtect"]
	path = plugins/RoleProtect
	url = git://github.com/hgtonight/Plugin-RoleProtect.git
[submodule "plugins/ModReview"]
	path = plugins/ModReview
	url = git://github.com/hgtonight/Plugin-ModReview.git
[submodule "plugins/CommunityStreams"]
	path = plugins/CommunityStreams
	url = git://github.com/hgtonight/Plugin-CommunityStreams.git
[submodule "plugins/CategoryAds"]
	path = plugins/CategoryAds
	url = git://github.com/hgtonight/Plugin-CategoryAds.git
[submodule "plugins/DraftSweeper"]
	path = plugins/DraftSweeper
	url = git://github.com/hgtonight/Plugin-DraftSweeper.git
[submodule "plugins/AutoBury"]
	path = plugins/AutoBury
	url = git://github.com/hgtonight/Plugin-AutoBury.git
[submodule "plugins/PrintLink"]
	path = plugins/PrintLink
	url = git://github.com/hgtonight/Plugin-PrintLink.git
[submodule "plugins/DiscussionExtender"]
	path = plugins/DiscussionExtender
	url = git://github.com/hgtonight/Plugin-DiscussionExtender.git
[submodule "plugins/YagaFeaturedBadges"]
	path = plugins/YagaFeaturedBadges
	url = git://github.com/hgtonight/Plugin-YagaFeaturedBadges.git
[submodule "plugins/YagaRankInMeta"]
	path = plugins/YagaRankInMeta
	url = git://github.com/hgtonight/Plugin-YagaRankInMeta.git
[submodule "plugins/DataGenerator"]
	path = plugins/DataGenerator
	url = git://github.com/hgtonight/Plugin-DataGenerator.git
